/*Default Styles Reset*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: 'Source Sans Pro';
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header-wrapper {
  height: 50px;
  margin-bottom: 25px;
}

.container {
  max-width: 100%;
  padding: 0 15px;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.header-column1,
.header-column3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 30px;
  width: 30px;
}

.header-column1 img,
.header-column3 img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.header-column1 img {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.header-column2 {
  position: relative;
  height: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.header-column2 img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.progressBar {
  width: 100%;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0px;
  margin: 0 0 40px 0;
}

.progressBar .progressBar-complete {
  background-color: #F0C4AB;
  border-right: 1px solid #000000;
}

.progressBar .progressBar-complete__10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.progressBar .progressBar-complete__20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.progressBar .progressBar-complete__30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.progressBar .progressBar-complete__40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.progressBar .progressBar-complete__50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.progressBar .progressBar-complete__60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.progressBar .progressBar-complete__70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.progressBar .progressBar-complete__80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.progressBar .progressBar-complete__90 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
}

.progressBar .progressBar-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progressBar .progressBar-total .progressBar-text {
  color: #333333;
  font-family: 'Source Sans Pro';
  font-size: 12px;
  text-align: left;
  line-height: 1px;
  padding: 0 5px 0 0;
  width: 100%;
  text-align: right;
}

.progressBar .progressBar-total__90 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
}

.progressBar .progressBar-total__80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.progressBar .progressBar-total__70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.progressBar .progressBar-total__60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.progressBar .progressBar-total__50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.progressBar .progressBar-total__40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.progressBar .progressBar-total__30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.progressBar .progressBar-total__20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.progressBar .progressBar-total__10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-wrapper {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  max-width: 680px;
  display: block;
  margin: 0 auto;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px 0;
}

.question_text {
  max-width: 250px;
  color: #333333;
  font-size: 16px;
  text-align: left;
  padding: 5px;
}

.content_answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__direct {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex__reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.answer_image-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
}

.answer_image {
  position: relative;
  overflow: hidden;
}

.answer_image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.item_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.d-none {
  display: none;
}

.answer_image__contain img {
  width: 100%;
}

.answer_btn-wrapper {
  max-width: 164px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: block;
  margin: 10px auto;
}

.answer_btn {
  height: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #757575;
  border-radius: 2px;
  padding: 5px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.answer_btn:hover {
  cursor: pointer;
  color: #FAFAFA;
  background: #8DA5B1;
  border: 1px solid #F0C4AB;
  border-radius: 2px;
}

.no-border {
  border: none !important;
}

a {
  text-decoration: none;
}

.answer_items {
  margin: 10px auto 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-label {
  padding: 20px 0;
  margin-bottom: 20px;
}

.items__wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item__basis-50 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.item__basis-33 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
}

.item label {
  height: 100%;
}

.item_title {
  padding: 10px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.item_body {
  width: 100%;
  margin-bottom: 50px;
  height: 130px;
}

.item_btn {
  height: 100%;
}

.item-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.item-label {
  color: #333333;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  text-align: center;
  line-height: 1px;
  padding: 5px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 68px;
  cursor: pointer;
  line-height: 60px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 25%;
  top: 0;
  width: 34px;
  height: 34px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 35px;
  height: 35px;
  background: #F44336;
  border: 4px solid #FFEB3B;
  position: absolute;
  top: 0px;
  left: 25%;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: inline-block;
  margin: -2px;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox]:checked + label {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(255, 162, 0, 0.65), 0 2px 2px #F44336;
  box-shadow: inset 0 3px 6px rgba(255, 162, 0, 0.65), 0 2px 2px #F44336;
}

.footer-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 78px;
          flex: 0 0 78px;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer {
  position: relative;
  width: 100%;
  height: 78px;
  overflow: hidden;
}

.footer img {
  position: absolute;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

body {
  background-color: #ffffff;
}

@media screen and (min-width: 440px) {
  .item_body {
    height: 180px;
  }
}

@media screen and (min-width: 520px) {
  .item_body {
    height: 250px;
  }
}